S3method(plot,nFit)
export(dropunusedlevels)
export(normFit)
export(normPred)
export(normalize)
export(standardsFit)
export(standardsPred)
export(weightnorm)
exportClasses(nFit)
exportMethods("mexprs<-")
exportMethods(analytes)
exportMethods(makeX)
exportMethods(method)
exportMethods(mexprs)
exportMethods(model)
exportMethods(sFit)
exportMethods(show)
exportMethods(standards)
importFrom(pcaMethods,method)
